body{
  background-color: #575490;
  font-family: sans-serif;
}

/*grid layout for everything*/
.container {  
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.125fr 0.20fr 2fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo logo search search addons"
    "additional-info additional-info additional-info additional-info additional-info"
    "Filter products products products products"
    "Filter products products products products"
    "disclaimer disclaimer disclaimer disclaimer disclaimer";
    width: 80%;
    margin-left: 10%;

    /*style*/
    border: 2px solid #6495ED;
    height: auto;
    background-color: white;
}

@media only screen and (max-width: 745px){
  .container{
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.125fr 0.2fr 1fr 2fr 0.1fr;
    grid-template-areas:
    "logo search addons"
    "additional-info additional-info additional-info"
    "Filter Filter Filter"
    "products products products"
    "disclaimer disclaimer disclaimer";
  }

  .Filter{
    grid-area: 3 / 1 / 3 / 3; 

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "itemsFound sortBy gameFilter price submitFilter";
  }

  .products{      
    grid-area: 4 / 1 / 5 / 3;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 0.1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "product1 product2"
      "product3 product4"
      "product5 product6"
      "product7 product8"
      "product9 product10"
      "product11 product12"
      "nextPage nextPage";

    }

    body{
      background-color: red;
    }
}

.logo { 
  grid-area: logo; 

  /*style*/
  border-left: 2px solid #13293D;
  border-top: 2px solid #13293D;
  border-bottom: 2px solid #13293D;
  position: sticky;
  top: 0.1px;
  background-color: #6495ED;
  color: #13293D;
}
.search { 
  grid-area: search; 

  /*style*/
  border-top: 2px solid #13293D;
  border-bottom: 2px solid #13293D;
  position: sticky;
  top: 0.1px;
}

/*actual thing that searches*/
.search input[type="text"]{
  font-size: 20px;
  height: 96%;
  width: 100%;
  background-color: #6495ED;
  color: #13293D;
  border: none;
  outline: none;
}

.search input::placeholder{
  color: #2b3743;
}

.addons { 
  grid-area: addons; 

    /*style*/
    position: sticky;
    top: 0.1px;
    background-color: #6495ED;
    color: #13293D;
    border-top: 2px solid #13293D;
    border-bottom: 2px solid #13293D;
    border-right: 2px solid #13293D;

    padding: 1%;
}

.addons button{
  background-color: #6495ED;
  border-radius: 15px;
  color: #13293D;
  height: 100%;
  width: 33.33%;
}

.addons button:hover{
  background-color: #5177bc;

  color: #13293D;
  cursor: pointer;

}


.additional-info { 
  grid-area: additional-info; 

    /*style*/

border: 2px solid #6495ED;
background-color: #98b5eb;
color: #13293D;
padding: 1%;
} 

.additional-info button {
  background-color: #98b5eb;
  color: #13293D;
  height: 100%;
  width: 30%;
  gap: 20%;
  text-align: center;
  border: none;
  margin-left: 2.25%;
  border: 1px solid #4a6dad;
  border-radius: 15px;  
}

.additional-info button:hover{
  background-color: #7f98c3;
  cursor: pointer;

}


.Filter { 
  grid-area: 3 / 1 / 5 / 2; 

    /*style*/

    border: 2px solid #6495ED;
    background-color: #b4c5e6;
    color: #13293D;
    display: grid;
    padding: 5%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.05fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "itemsFound"
      "sortBy"
      "gameFilter"
      "price"
      "submitFilter";
    justify-items: center;
}

#itemsFound{
  border: 1px solid #6495ED;
  border-radius: 15px;  
  text-align: center;
  margin-bottom: 5%;
  width: 80%;

}

#sortBy{
  border: 1px solid #6495ED;
  border-radius: 15px;  
  text-align: left;
  margin-bottom: 5%;
  text-align: center;
  width: 80%;
}

.Filter select{
  background-color: #b4c5e6;
  font-size: 18px;
  outline: none;
  border: none;
  color: #13293D;
  width: 100%;
}

#gameFilter{
  border: 1px solid #6495ED;  
  border-radius: 15px;
  text-align: center;
  margin-bottom: 5%;
  width: 80%;

}

#price{
  border: 1px solid #6495ED;  
  border-radius: 15px;
  text-align: center;
  margin-bottom: 5%;
  padding: 5%;
  width: 80%;
}

.slideContainer{
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background-color: #6495ED;
  opacity: 0.7;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background-color: #ffffff;
  cursor: pointer;
}


#submitFilter{
  border: 1px solid #6495ED;  
  border-radius: 15px;
  text-align: center;
  padding: 2%;
  margin-bottom: 5%;
  width: 80%;
}

#submitFilter button{
  border: 1px solid #6495ED;
  width: 40%;
  height: 100%;
}

#submitFilter button:hover{
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}


.products {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "product1 product2 product3"
    "product4 product5 product6"
    "product7 product8 product9"
    "product10 product11 product12"
    "nextPage nextPage nextPage";
  grid-area: 3 / 2 / 5 / 6;
  height: 100%;
  padding: 3%;

    /*style*/

    border: 2px solid #6495ED;
    background-color: white;
    color: #13293D;
    text-align: center;
}

.product-item{
  border: 2px solid #6495ED;
  background-color: white;
  padding: 5%;
  border-radius: 15px;
}

.product-item:hover{
  background-color: rgb(235, 235, 235);
  color: #13293D;  
}
#product1{ 
  grid-area: product1; 
}

#product2 { 
  grid-area: product2; 
}

#product3 { 
  grid-area: product3; 
}

#product4 { 
  grid-area: product4; 
}

#product5 { 
  grid-area: product5; 
}

#product6 { 
  grid-area: product6; 
}

#product7 { 
  grid-area: product7; 
}

#product8 { 
  grid-area: product8; 
}
#product9 { 
  grid-area: product9; 
}

#nextPage{
  border: 2px solid #6495ED;
  width: 293%;
  margin-bottom: 20%;
  margin-left: 5%;
}

.skip{
  border: 2px solid #6495ED;
  background-color: white;
  padding: 5%;
  border-radius: 15px;
}

.productButtons{
  border: 1px solid #6495ED;  
  border-radius: 15px;
}

.productButtons:hover{
  cursor: pointer;
}

.disclaimer { 
  grid-area: disclaimer; 

    /*style*/
    border: 2px solid #6495ED;
    background-color: #98b5eb;
    color: #13293D;
    display: flex;
    gap: 2.5%;
    padding: 2%;
}

#about{
  text-align: center;
  border: 1px solid #13293D;
  height: 100%;
  width: 30%;
  margin-left: 2.5%;
  border-radius: 15px;
}

#copyRight{
  text-align: center;
  border: 1px solid #13293D;
  height: 100%;
  width: 30%;
  border-radius: 15px;
}

#help{
  text-align: center;
  border: 1px solid #13293D;
  height: 100%;
  width: 30%;
  border-radius: 15px;
}

/*YOU'LL NEVER SEE IT COMIIINGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG YOU'LL SEE*/

