body{
  background-color: rgb(200, 194, 226);
  font-family: sans-serif;
}

/*grid layout for everything*/
.container {  display: grid;
  grid-template-columns: 0.5fr 0.1fr 1.8fr 1.3fr;
  grid-template-rows: 0.125fr 0.25fr 2.9fr 0.8fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.logo { grid-area: 1 / 1 / 2 / 3; }
.search { grid-area: 1 / 3 / 2 / 5; }
.addons { grid-area: 1 / 4 / 2 / 5; }
.additional-info { grid-area: 2 / 1 / 3 / 5; }
.Filter { grid-area: 3 / 1 / 4 / 3; }

.products {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "product1 product2 product3"
    "product4 product5 product6"
    "product7 product8 product9";
  grid-area: 3 / 3 / 4 / 5;
  height: auto;
}

#product1 { grid-area: product1; }
#product2 { grid-area: product2; }
#product3 { grid-area: product3; }
#product4 { grid-area: product4; }
#product5 { grid-area: product5; }
#product6 { grid-area: product6; }
#product7 { grid-area: product7; }
#product8 { grid-area: product8; }
#product9 { grid-area: product9; }

.disclaimer { grid-area: 4 / 1 / 5 / 5; }
.owner { grid-area: 5 / 1 / 6 / 5; }


/*box of everything and anything*/
.container{
  border: 3px solid rgb(255, 0, 0);
  height: 1500px;
}


/*Logo <3*/
.logo{
  border: 3px solid rgb(85, 255, 0);
  position: sticky;
  top: 0.1px;
}


/*Search balk*/
.search{
  border: 3px solid rgb(173, 255, 143);
  position: sticky;
  top: 0.1px;
}

/*actual thing that searches*/
.search input[type="text"]{
  font-size: 20px;
  height: 38px;
  width: 545px;
}

/*search button, might remove later and replace with image or just remove it completely*/
.search button{
  height: 45px;
  width: 60px;
  vertical-align: top;
}

/*thing where i place cart thing ig? Dk yet*/
.addons{
  border: 3px solid rgb(27, 70, 34);
  position: sticky;
  top: 0.1px;
}


/*thing with home, new and those things will be placed in here*/
.additional-info{
  border: 3px solid rgb(17, 0, 255);
}


/*box where filters will be placed*/
.Filter{
  border: 3px solid rgb(255, 0, 115);
}


/*boxes of produce*/
.products{
  border: 3px solid rgb(255, 123, 0);
  height: auto;
}


#product1{
  border: 3px solid rgb(255, 167, 227);
}


#product2{
  border: 3px solid rgb(249, 110, 180);
}


#product3{
  border: 3px solid rgb(197, 100, 116);
}


#product4{
  border: 3px solid rgb(133, 238, 152);
}


#product5{
  border: 3px solid rgb(243, 226, 118);
}


#product6{
  border: 3px solid rgb(255, 116, 61);
}


#product7{
  border: 3px solid rgb(74, 72, 136);
}


#product8{
  border: 3px solid rgb(107, 107, 101);
}


#product9{
  border: 3px solid rgb(79, 15, 15);
}

/*disclaimer thing idk bro im not a lawyer*/
.disclaimer{
  border: 3px solid black;
}


/*idk i saw this n i added this bcs it looked cute*/
.owner{
  border: 3px solid black;
}